In [3]:
# Stock historical price
import requests
response = requests.get('https://api.stockdata.org/v1/data/eod?symbols=AAPL&api_token=jd0qoX9VUT5lMG5onfd3RBXzWEhXVKPwNz1Rheao')

In [4]:
import pandas as pd
js = response.json()
date = js.get('data')
stock_price = pd.DataFrame(columns = ['date', 'close_price'])
for i in date:
    stock_price_length = len(stock_price)
    stock_price.loc[stock_price_length] = [i['date'], i['close']]
stock_price

                            date  close_price
0    2022-04-21T16:00:00.000000Z       166.42
1    2022-04-20T16:00:00.000000Z       167.23
2    2022-04-19T16:00:00.000000Z       167.40
3    2022-04-18T16:00:00.000000Z       165.07
4    2022-04-14T16:00:00.000000Z       165.29
..                           ...          ...
247  2021-04-29T16:00:00.000000Z       133.48
248  2021-04-28T16:00:00.000000Z       133.58
249  2021-04-27T16:00:00.000000Z       134.39
250  2021-04-26T16:00:00.000000Z       134.72
251  2021-04-23T16:00:00.000000Z       134.32

[252 rows x 2 columns]

In [5]:
import warnings
warnings.filterwarnings("ignore")
stock_price['date'] = stock_price['date'].str.replace('T16:00:00.000000Z', '')
stock_price = stock_price.sort_values(by=['date']).reset_index()
stock_price = stock_price.drop(['index'], axis = 1)
stock_price['pct_change'] = stock_price['close_price'].pct_change()
stock_price = stock_price.drop(0)
stock_price

           date  close_price  pct_change
1    2021-04-26       134.72    0.002978
2    2021-04-27       134.39   -0.002450
3    2021-04-28       133.58   -0.006027
4    2021-04-29       133.48   -0.000749
5    2021-04-30       131.46   -0.015133
..          ...          ...         ...
247  2022-04-14       165.29   -0.029988
248  2022-04-18       165.07   -0.001331
249  2022-04-19       167.40    0.014115
250  2022-04-20       167.23   -0.001016
251  2022-04-21       166.42   -0.004844

[251 rows x 3 columns]

In [6]:
from pathlib import Path  
filepath = Path('DSCI510_final_project/data/Stock_Price.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
stock_price.to_csv(filepath)

In [7]:
# 10 year treasuty rate
import requests
from bs4 import BeautifulSoup

In [8]:
is_link = 'https://ycharts.com/indicators/10_year_treasury_rate'
response = requests.get(is_link)
soup = BeautifulSoup(response.content, 'html.parser')

In [9]:
response_treasury = requests.get('https://data.nasdaq.com/api/v3/datasets/USTREASURY/YIELD.json?api_key=m4QDcyVZJxsukKV23FsE')

In [10]:
t_js = response_treasury.json()
t_data = t_js.get('dataset')['data']
t_price = pd.DataFrame(columns = ['date', 'close_price'])
for i in t_data:
    length = len(t_price)
    t_price.loc[length] = [i[0], i[10]]
t_price

            date  close_price
0     2022-02-04         1.93
1     2022-02-03         1.82
2     2022-02-02         1.78
3     2022-02-01         1.81
4     2022-01-31         1.79
...          ...          ...
8027  1990-01-08         8.02
8028  1990-01-05         7.99
8029  1990-01-04         7.98
8030  1990-01-03         7.99
8031  1990-01-02         7.94

[8032 rows x 2 columns]

In [11]:
t_price = t_price[t_price['date'] > "2020-02-20"]
t_price['pct_change'] = t_price['close_price'].pct_change()
t_price = t_price.drop(0)

In [12]:
t_price

           date  close_price  pct_change
1    2022-02-03         1.82   -0.056995
2    2022-02-02         1.78   -0.021978
3    2022-02-01         1.81    0.016854
4    2022-01-31         1.79   -0.011050
5    2022-01-28         1.78   -0.005587
..          ...          ...         ...
487  2020-02-27         1.30    0.150442
488  2020-02-26         1.33    0.023077
489  2020-02-25         1.33    0.000000
490  2020-02-24         1.38    0.037594
491  2020-02-21         1.46    0.057971

[491 rows x 3 columns]

In [13]:
filepath = Path('DSCI510_final_project/data/Treasury_Price.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
t_price.to_csv(filepath)

In [14]:
#https://data.nasdaq.com/data/USTREASURY/YIELD-treasury-yield-curve-rates
#https://stackoverflow.com/questions/29928982/how-do-i-convert-dates-from-month-dd-yy-to-mm-dd-yy-in-python

In [2]:
# Company News
from urllib.request import urlopen
from urllib.request import Request
finviz_url = 'https://finviz.com/quote.ashx?t=AAPL'
news_tables = {}
req = Request(url=finviz_url,headers={'user-agent': 'my-app/0.0.1'}) 
resp = urlopen(req)    
html = BeautifulSoup(resp, features="lxml")
news_table = html.find(id='news-table')
news_tables['AAPL'] = news_table

NameError: name 'BeautifulSoup' is not defined

In [16]:
df = news_tables['AAPL']
df_tr = df.findAll('tr')
print ('\n')
print ('Recent News Headlines for {}: '.format('AAPL'))
for i, table_row in enumerate(df_tr):
    a_text = table_row.a.text
    td_text = table_row.td.text
    td_text = td_text.strip()
    print(a_text,'(',td_text,')')

Recent News Headlines for AAPL:
Dow Jones Futures: Bears Hunt Down Market Bulls; What Investors Should Do Now ( Apr-22-22 08:07PM )
Apple Is the Last FAANG Standing ( 07:58PM )
Activision Union Bid Will Go to a Vote, Labor Board Orders ( 05:52PM )
Tech companies gear up to report earnings next week ( 04:47PM )
Whats driving the nationwide push for labor unionization ( 04:43PM )
Apple Stock Called 'Good Hiding Place' In Volatile Market ( 04:05PM )
Facebook Is Broken. Execs Say a Fix Wont Come Fast. ( 03:57PM )
Unions push at Amazon, Apple and Starbucks could be most significant moment in the American labor movement in decades ( 03:56PM )
Market sell-off indicates investors think the Fed is behind the curve: Strategist ( 03:34PM )
Markets check: Stocks extend losses as Dow eyes worst day of 2022 ( 03:29PM )
Apple gave investors more than $100 billion last year  how much more is coming? ( 03:13PM )
Apple Stock Offers a Good Hiding Place in a Rocky Stock Market, Says Deutsche Bank ( 03:03PM )
Previewing Tech Earnings After Netflix's Fiasco ( 02:51PM )
5 Dow Jones Stocks To Buy And Watch In April: Apple Sells Off ( 02:17PM )
The Entire AirPods Family is Discounted on Amazon ( 02:10PM )
Social Media Stocks Fall After Snap Posts Rising User Growth ( 01:59PM )
Is a Beat Likely for Atlassian (TEAM) This Earnings Season? ( 01:38PM )
Apples Q1 lobbying spending was its highest ever for a quarter ( 01:36PM )
Stakes are high as megacap companies highlight big earnings week ( 12:31PM )
Why Meta Platforms Stock Was Sinking Further This Week ( 12:23PM )
SNAP Q1 Earnings Miss Estimates, User Growth Aids Top Line ( 12:03PM )
Microsoft (MSFT) to Report Q3 Earnings: What's in the Cards? ( 11:41AM )
SAP SE's (SAP) Earnings Decline Y/Y in Q1, Revenues Increase ( 11:19AM )
Why This Investor Is Happy With Amazon CEO Andy Jassy ( 10:58AM )
After Netflix and CNN+ busts, Wall Street wonders if streaming is a good investment ( 10:58AM )
Alphabet (GOOGL) to Report Q1 Earnings: What's in the Cards? ( 10:57AM )
Got $1,000? 5 Buffett Stocks to Buy and Hold Forever ( 10:01AM )
Shopifys Stock Split Fails to Rekindle Investor Romance ( 09:40AM )
Factors Likely to Decide Avnet's (AVT) Fate in Q3 Earnings ( 09:36AM )
Snap posts earnings loss in Q1 following Apple ad changes ( 09:23AM )
Tech Sell-Off: 1 Growth Stock to Buy at a 56% Discount ( 08:50AM )
American Express CEO still not seeing a recession after earnings beat ( 08:40AM )
iCheap? Even Uber Pays Better Than Apple ( 08:00AM )
When Your Team Gets Creative, Reply The Right Way ( 07:00AM )
Heading Into Its Q3, Is Microsoft (MSFT) A Buy? ( Apr-21-22 07:07PM )
Analyst on social media platforms: Copycatting TikTok is a big trend right now ( 04:58PM )
Snap Rises After Reporting User Growth Ahead of Estimates ( 04:46PM )
Apple Watch Series 7 vs. Fitbit Versa 3: Which Smartwatch Deserves a Look ( 03:44PM )
Apple (AAPL) Reports Next Week: Wall Street Expects Earnings Growth ( 03:01PM )
Apple could be forced to change iPhone charging cable after latest EU vote ( 12:35PM )
Apple Spends Record on Lobbying Amid Pressure from Congress ( 12:30PM )
PTC Set to Acquire Intland Software to Boost ALM Portfolio ( 12:12PM )
Apple retail workers in Atlanta file union vote petition ( 11:59AM )
HBO subscribers grow to nearly 77 million, United Airlines stock rises on earnings ( 11:42AM )
Apple Facing Supply Chain and Inflation Headwinds, Says Moness Crespi ( 11:21AM )
Got $1,000? Buy These Hot Growth Stocks Before They Take Off ( 11:10AM )
Apple (AAPL) Rolls Out Child Safety Features in UK iPhones ( 10:53AM )
2 No-Brainer Growth Stocks to Buy While the Market Is Down ( 10:38AM )
MSCI Set to Report Q1 Earnings: Will It Deliver a Beat? ( 10:33AM )
7 best VPN services for streaming securely in 2022 ( 09:45AM )
Teslas Stock Stands Apart From the Growth Pack: Tech Watch ( 09:44AM )
Market strategist: Investor pessimism rises amid tumultuous year for stocks ( 09:40AM )
Factors Likely to Influence CACI's Fate in Q3 Earnings ( 09:12AM )
Banning software sales to Russia a case of good and evil: Appian CEO ( 08:51AM )
The World's Most Valuable Companies From 2000 to 2022 ( 08:43AM )
What's in the Offing for Tyler (TYL) This Earnings Season? ( 08:14AM )
Check Point (CHKP) to Report Q1 Earnings: What's in Store? ( 08:12AM )
Apple Earnings: What to Watch ( 07:05AM )
Apple AirTag vs Tile mate: Which Bluetooth tracker is best? ( 07:02AM )
Teslas Stellar Earnings Show the Challenge Jerome Powell Is Facing ( 06:47AM )
This Will Be a $20 Billion Industry in 10 Years ( 06:45AM )
This math shows why Netflixs stock price could plunge to $121 ( 06:14AM )
Forget Apple and Bank of America: This Is Warren Buffett's Favorite Stock ( 05:06AM )
PRESS DIGEST- New York Times business news - April 21 ( 01:04AM )
Apple Faces In-Store Labor Drive as Union Amps Up Pressure ( Apr-20-22 05:25PM )
Techs Endless Growth Machine Sputters as Investors Lose Faith ( 04:13PM )
Top 10 S&P 500 Stocks by Index Weight for July 2021 ( 03:59PM )
Markets check: Stocks mixed as Netflix weighs down the Nasdaq ( 03:21PM )
Apple Supplier Jabil Debuts Green Bond in Clean Energy Push ( 03:19PM )
Netflix running ads may have one big downside effect: analyst ( 03:16PM )
Netflix not yet sold on sports as analysts push for 'other sticky things' ( 03:15PM )
With Netflix greenlighting ads, streaming is about to become cable TV ( 02:38PM )
UPDATE 2-Workers at Atlanta Apple store file to hold first U.S. union election ( 02:35PM )
Inside the Netflix horror show ( 02:28PM )
Apple store workers in Atlanta file for first union election - Bloomberg Law ( 02:27PM )
Apple store workers in Atlanta file for first union election - Bloomberg News ( 02:19PM )
Is Meta the next tech stock to get routed like Netflix? ( 02:19PM )
Netflix is a broken growth story: top tech analyst ( 01:43PM )
Apple rolls out message scanning feature to keep children safe from harmful images in UK ( 01:33PM )
Apple brings child sexual abuse detection tools to the UK ( 01:14PM )
Apple will automatically block children's access to nude images sent to their iPhones ( 01:11PM )
Warren Buffett Stocks: What's Inside Berkshire Hathaway's Portfolio? ( 12:41PM )
Apple Might Have a Wage War on Its Hands ( 12:25PM )
Netflix's best days are behind it, says analyst who predicted the stock's crash ( 11:38AM )
Iridium (IRDM) Q1 Earnings & Revenues Top Estimates, Up Y/Y ( 11:38AM )
EU plan for common worldwide phone charger port takes step closer ( 11:06AM )
Do You Use MetaMask With an Apple Device? Your Account May Be at Risk ( 11:00AM )
Market check: Nasdaq turns red as Netflix, Tesla, Meta stocks drop ( 10:22AM )
Samsung Galaxy buds live deal: Save £100 on the wireless earphones at Amazon ( 10:10AM )
Wall Street rerates Netflix stock after surprise subscriber loss ( 10:00AM )
Market check: Stocks open higher, Netflix stock craters, yields rise ( 09:57AM )
Netflix stock plummets after first quarterly subscriber loss in 10 years ( 09:26AM )
F5 Networks (FFIV) to Post Q2 Earnings: What's in Store? ( 08:27AM )
Elon Musks Twitter Gambit Tees Up a Whos In-or-Out White Knight List ( 08:21AM )
3 Charts Showing How Top Stocks Have Performed After a Split ( 07:53AM )
Netflix stock crashes; Co-CEO says company is working on fixing the problems ( 05:50AM )
Global Smartphone Market Had Worst Drop Since Virus Outbreak ( Apr-19-22 11:20PM )
How did Netflix lose subscribers in 2022? ( 06:50PM )
Apple (AAPL) Gains But Lags Market: What You Should Know ( 05:45PM )
Streaming: 61% of viewers believe their subscriptions are too expensive, report says ( 05:13PM )

In [17]:
parsed_news = []
for file_name, news_table in news_tables.items():
    for x in news_table.findAll('tr'):
        text = x.a.get_text() 
        date_scrape = x.td.text.split()

        if len(date_scrape) == 1:
            time = date_scrape[0]
            
        else:
            date = date_scrape[0]
            time = date_scrape[1]

        ticker = file_name.split('_')[0]
        
        parsed_news.append([ticker, date, time, text])

In [18]:
from datetime import datetime
news = pd.DataFrame(parsed_news, columns = ['Stock', 'Date', 'Time', 'News Headlines'])
news['Date'] = pd.to_datetime(news['Date'], format='%b-%d-%y')

In [19]:
news

,Stock,Date,Time,News Headlines
0,AAPL,2022-04-22,08:07PM,Dow Jones Futures: Bears Hunt Down Market Bull...
1,AAPL,2022-04-22,07:58PM,Apple Is the Last FAANG Standing
2,AAPL,2022-04-22,05:52PM,"Activision Union Bid Will Go to a Vote, Labor ..."
3,AAPL,2022-04-22,04:47PM,Tech companies gear up to report earnings next...
4,AAPL,2022-04-22,04:43PM,Whats driving the nationwide push for labor un...
...,...,...,...,...
95,AAPL,2022-04-20,05:50AM,Netflix stock crashes; Co-CEO says company is ...
96,AAPL,2022-04-19,11:20PM,Global Smartphone Market Had Worst Drop Since ...
97,AAPL,2022-04-19,06:50PM,How did Netflix lose subscribers in 2022?
98,AAPL,2022-04-19,05:45PM,Apple (AAPL) Gains But Lags Market: What You S...
99,AAPL,2022-04-19,05:13PM,Streaming: 61% of viewers believe their subscr...

In [20]:
filepath = Path('DSCI510_final_project/data/News.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
news.to_csv(filepath)

In [1]:
news_tables

NameError: name 'news_tables' is not defined